In [3]:
import pandas as pd
import numpy as np
from IPython.display import display

In [5]:
my_2darray = np.array([[1,2,3],[5,6,7]])
display(pd.DataFrame(my_2darray))

   0  1  2
0  1  2  3
1  5  6  7

In [10]:
# Take a dictionary as input to your DataFrame 
my_dict = {"a": ['1', '3'], "b": ['1', '2'], "c": ['2', '4']}
display(pd.DataFrame(my_dict))

   a  b  c
0  1  1  2
1  3  2  4

In [28]:
# Take a DataFrame as input to your DataFrame 
my_df = pd.DataFrame(data=[[4,5,6,7],[4,5,6,7]], index=range(0,2), columns=['A','B','B','C'])
display(pd.DataFrame(my_df))

   A  B  B  C
0  4  5  6  7
1  4  5  6  7

In [12]:
# Take a Series as input to your DataFrame
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
display(pd.DataFrame(my_series))

                         0
United Kingdom      London
India            New Delhi
United States   Washington
Belgium           Brussels

In [42]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2.5, 12.6, 4.8], columns=[48, 49, 50])
display(df)

# There's no index labeled `2`, so you will change the index at position `2`
df.loc[2] = [60, 50, 40]
display(df)

display(df.iloc[1][49])
display(df.loc[1])

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8   9

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8   9
2.0   60  50  40

5

KeyError: 'the label [1] is not in the [index]'